@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    line-height: 1.5em;
    color: #8B8A8B;
}

section {
    min-height: 512px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header,
.content,
.footer {
        padding: 77px 0;
}

.container {
    width: 960px;
    display: flex;
}

.header {
    background-color: #FCDB00;
    color: #000;
}

.header,
.container {
    flex-direction: column;
    
}

.icons {
    display: flex;
    justify-content: space-between;
}

.header a {
    display: block;
    margin: 13px 7.5px 0 0;
    width: 24px;
    height: 24px;

}

.header ul {
    list-style-type: none;
    display: flex;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 48px;
    line-height: 62px;
    color: #010002;
}
.text{
    font-weight: normal;
font-size: 24px;
line-height: 31px;
text-align: center;
   margin: 120px 150px 22px;
}
.icons_1 li{
    border-radius: 100%;
     border: 2px solid #010101;
    width: 68px;
height: 68px;
    margin: 0 10px 136px;
}
.icons_1 img{
    width: 30px;
}
.icons_1, .icons_2 {display: flex;
    justify-content: center;
    align-items: center;  
}
.icons_2 li {
    margin-left: 10px;
}
.content {}
.content ul{
    list-style-type: none;
    display: flex;
    align-items:stretch;
    
}
.text_1{
    color: #000;
    text-align: center;
    font-size: 24px;
line-height: 31px;
    margin: 0 100px;
}
/*
.foto{
    background-image: url(images/Rectangle.svg);
}
*/
h2{font-weight: bold;
font-size: 36px;
line-height: 47px;
color: #000000;
    text-align: center;
}
 li h2{ 
     font-weight: bold;
font-size: 24px;
line-height: 31px;}
.content p{
    font-size: 18px;
line-height: 24px;
color: #8B8A8B;
}
.footer {
    background-color: #010101;
}
h3 {
    font-weight: bold;
font-size: 36px;
line-height: 47px;
text-align: center;color: #FCDB00;
}

.text_2 {
    font-size: 24px;
line-height: 31px;
text-align: center;
color: #8B8A8B;
}
.footer ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 40px;
}
.footer li{
    margin-left: 60px;
}
@media screen and (max-width: 992px) {
    .container {
        width: 648px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 95%;
    }
