@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    line-height: 1.5em;
    color: #8B8A8B;
}

section {
    min-height: 512px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header,
.content,
.footer {
    padding: 77px 0;
}

.container {
    width: 1440px;
    display: flex;
}

.header {
    background-color: #FCDB00;
    color: #000;
}

.button span {
    width: 50px;
    display: block;
    border-bottom: 3px solid #000;
    margin: 7px;
    cursor: pointer;
}

.button {
    cursor: pointer;
}

.header,
.container {
    flex-direction: column;

}

.icons {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
}

.header a {
    display: block;
    margin: 13px 7.5px 0 0;
    width: 24px;
    height: 24px;

}

.header ul {
    list-style-type: none;
    display: flex;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 48px;
    line-height: 62px;
    color: #010002;
}

.text, .text_1 {
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
   color: #000000;
}
.text{
     margin: 120px 280px 22px;
}

.icons_1 li {
    border-radius: 100%;
    border: 2px solid #010101;
    width: 68px;
    height: 68px;
    margin: 22px 10px 136px;
    position: relative;
}

.icons_1 img {
    width: 30px;
    position: absolute;
    left: 28%;
    top: 22%;
}

.icons_1,
.icons_2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons_2 li {
    margin-left: 10px;
}
.container_c{
    width: 1440px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container_c li{
    width: 270px;
    height: 149px;
    margin: 40px 0px 83px;
}
.text_1{
    flex-basis: 100%;
    margin: 20px 280px 56px;
}
.left{
    flex-basis: 30%;
     padding-left: 130px;
}
.tablet{
    flex-basis: 30%;
}
.right{
    flex-basis: 30%;
   
    
}
ul{
    list-style-type: none;
}
h2{
    font-weight: bold;
font-size: 24px;
line-height: 31px;
text-align: center;
color: #000000
}
.container_c p{
    font-size: 18px;
line-height: 24px;
color: #8B8A8B;
}

h3 {
    font-weight: bold;
    font-size: 36px;
    line-height: 47px;
    color: #000000;
    text-align: center;
}



.footer {
    background-color: #010101;
}

form {
    margin: 10px auto;
   padding: 28px 143px 100px;
}

.email {
    width: 460px;
    height: 50px;
    font-size: 18px;
    line-height: 24px;
    color: #8B8A8B;
    text-align: center;
     border-radius: 3px;
    margin-right: 7px;
}

.button {
    width: 150px;
    height: 50px;
    background-color: #FCDB00;
    color: #141111;
   font-weight: bold;
font-size: 18px;
line-height: 24px;
    text-align: center;
     border-radius: 3px;
}

.footer h3 {
    color: #FCDB00;
}

.text_2 {

    font-size: 24px;
    line-height: 31px;
    text-align: center;
    color: #8B8A8B;
    margin: 0 280px 28px;
}

.footer ul {
    list-style-type: none;
    display: flex;
    align-items:center;
    justify-content: center;
    padding-left:100px;
}

.footer li {
    margin-right: 90px;
/*    padding: 0 150px 0 0;*/
    
}

@media screen and (max-width: 992px) {
    .container {
        width: 648px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 95%;
    }
